div#bubble
  script
    function login() {
      document.location.href = '/auth/tumblr';
    }
  ul#menu
    li
     a(href='http://baemagain.tumblr.com/ask', title='Help/Questions', target='_blank') ?
  h1
   a(href=host)= title
  if typeof error != 'undefined'
    div.error= error
  h2
    | Get your <em>backup</em> in 3 simple steps:
  ol#instructions.note
    li <strong>Authorize</strong> us
    li <strong>Start</strong> process
    li <strong>Download</strong> your archive!
  div#buttons(style='text-align:center')
    button#download.chrome.green(onclick='return login();')
      div.chrome_button
        div.chrome_button_left
        | Get started
        div.chrome_button_right
