link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
script(src='/socket.io/socket.io.js')
script
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
script
  var socket = io.connect('#{host}');
  $(document).ready(function() {
      $('#progressbar').progressbar({value: 0});
      $('button#download').hide();
  });
  function getLikes(button) {
    $(button).hide();
    var num_photos = photos_received = 0;
    $('#progressbar').progressbar("option", "value", 0);
    socket.emit('get_likes');
    socket.on('progress', function(progress) {
      console.log(progress);
      $('#progressbar').progressbar("option", "value", progress);
    });
    socket.on('status', function(status) {
      console.log(status);
      $('#status').html(status);
    });
    socket.on('download', function(download) {
      console.log(download);
      $('button#download').click(function() {
        document.location.href = download;
      }).show();
    });
    socket.on('done', function() {
      socket.removeAllListeners('progress');
      socket.removeAllListeners('status');
    }); 

    return false;
  }
  function logout() {
    document.location.href = '/logout';
  }
h2 Welcome, #{everyauth.tumblr.user.name}!
p 
  | You've got #{info.user.likes} likes.
  if info.user.likes > limit
    |  There's a limit of #{limit} likes, so you won't be able to download them all. We're sorry!
  div#progressbar
  div#status
  div
    button#download Download ZIPFILE
  div
    button(onclick='return getLikes(this)') Get'em all!
hr
h3
  button(onclick='return logout();') Logout
  div(style='float:right;')
    <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://tumblikes.x-berg.de:8000"></a>
    <noscript><a href="http://flattr.com/thing/722070/Tumblikes" target="_blank">
    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>