!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://assets.tumblr.com/stylesheets/compressed/auth.css?947')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body!= body