h1= title
p

  | #{title} allows you to download all photos you liked at your
  |  tumblr account. Click on the 'tumblr' logo below in order to
  |  authorize us.

#tumblr-login
  a(href='/auth/tumblr', style='border: 0px')
    img(src='http://assets.tumblr.com/images/logo.png?alpha&6')
