div#bubble
  script
    function login() {
      document.location.href = '/auth/tumblr';
    }
  ul#menu
    li
     a(href='http://baemalaem.tumblr.com/ask', title='Help/Questions', target='_blank') ?
  h1
   a(href=host)= title
  if typeof error != 'undefined'
    div.error= error
  h2
    | Download all photos you 'liked' at Tumblr.
  ol.note
    li Authorize us at Tumblr.
    li Start process.
    li Wait ... (we're doing our best!)
    li Download your stuff!
  div#buttons(style='text-align:center')
    button#download.chrome.green(onclick='return login();')
      div.chrome_button
        div.chrome_button_left
        | Get started!
        div.chrome_button_right
  div.note.strong
    | Use at your own risk!