div#bubble
  script
    function login() {
      document.location.href = '/auth/tumblr';
    }
  h1= title
  h2
    | Download all photos you liked at tumblr.
  div#buttons(style='text-align:center')
    button#download.chrome.green(onclick='return login();')
      div.chrome_button
        div.chrome_button_left
        | Login
        div.chrome_button_right
                    