div#bubble
  script
    function login() {
      document.location.href = '/auth/tumblr';
    }
  ul#menu
    li
     a(href='http://baemalaem.tumblr.com/ask', title='Help/Questions', target='_blank') ?
  h1
   a(href=host)= title
  if typeof error != 'undefined'
    div.error= error
  h2
    | Download all photos you 'liked' at tumblr.
  div#buttons(style='text-align:center')
    button#download.chrome.green(onclick='return login();')
      div.chrome_button
        div.chrome_button_left
        | Get started!
        div.chrome_button_right
  div.note
    | <strong>Please note: </strong>In a next step you need to authorize tumblikes to access your 'likes' at tumblr. tumblikes does not store any personal information about you whatsoever. All data gathered is being anonymized and deleted after some short period of time. We don't post anything on your behalf or do any other modifications to your tumblr. 