h1, h1 a {
    color:#676e74;
}

h2 {
    color:#85898c;
}

.text {
    font-size:1em;
    color:#85898c;
    margin:20px 0;
}

.note {
    font-size: 1em;
    color:#85898c;
    margin:20px 0;
}

strong, .strong {
    color:#676e74;
    font-weight:bold;
}

.error, .error strong {
    color:#bf2f2f !important;
}

#menu {
    float:right;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0;
}

#menu a {
    color: #36506a;
}

#menu a:hover {
    color: #676e74;
}

#progressbar {
    margin-bottom: 20px; 
}

ol#instructions {
    list-style-type: none;
    padding: 0;
}

ol#instructions li { 
    display: inline;
    padding: 0 4px;
}
ol#instructions li + li:before { content: '»'; position: relative; left: -4px; }  
