h1 {
    color:#676e74;
}

h2 {
    color:#85898c;
}

.text {
    font-size:20px;
    color:#85898c;
    margin:20px 0;
}

.note {
    font-size: 1em;
    color:#85898c;
    margin:20px 0;
}

strong, .strong {
    color:#676e74;
}